@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


@theme{

    --color-primary-l10: #420000;

    /* --color-primary-l0: #00e0e0;
    --color-primary-l10: #38d5d5;
    --color-primary-l20: #4dcaca;
    --color-primary-l30: #5cc0bf;
    --color-primary-l40: #66b5b4;
    --color-primary-l50: #6eaaa9;

    --color-surface-l0: #f5f5f5;
    --color-surface-l10: #e7e7e7;
    --color-surface-l20: #dadada;
    --color-surface-l30: #cccccc;
    --color-surface-l40: #bfbfbf;
    --color-surface-l50: #b2b2b2;

    --color-primary-d0: #00e0e0;
    --color-primary-d10: #4de4e3;
    --color-primary-d20: #6ee8e7;
    --color-primary-d30: #88ebea;
    --color-primary-d40: #9fefee;
    --color-primary-d50: #b4f2f1;

    --color-surface-d0: #121212;
    --color-surface-d10: #282828;
    --color-surface-d20: #3f3f3f;
    --color-surface-d30: #575757;
    --color-surface-d40: #717171;
    --color-surface-d50: #8b8b8b; */


}

@custom-variant dark (&:where(.dark, .dark *));


*{
    font-family: "Maven Pro", serif;
    
}

body * {
    @apply transition-colors duration-350;
    transition-duration: 150ms;
} 


 /* section {

    background-image: url("https://github.com/g-wtham/Netflix-Clone/blob/main/images/netflix-background-home.jpg?raw=true");
} */







